{% extends "registration/base.html" %}
{% load staticfiles %}
{% block content %}

  <div class="card">
    <div class="card-body text-center">
      <img src="{% static 'img/reset-password.png' %}" class="img-fluid" alt="">
      <h2 class="card-title font-weight-bold text-primary">Redefinição de senha enviada</h2>
      <p class="card-text text-dark">
        Enviamos por e-mail as instruções para redefinição de sua senha, se existir uma conta com o e-mail
        que você forneceu. Você receberá a mensagem em breve.
      </p>
      <p class="card-text text-dark">
        Se você não receber um e-mail, por favor verifique se você digitou o endereço corretamente,
        e verificar se é o mesmo usado no registro.
      </p>
  </div>

{% endblock %}