{% extends "registration/base.html" %}
{% load staticfiles %}
{% block content %}

  <div class="card">
    <div class="card-body text-center">
      <img src="{% static 'img/reset-password.png' %}" class="img-fluid" alt="">
      <div class="my-4 px-4">
        {% if validlink %}
          <h2 class="card-title font-weight-bold text-primary">Digite a nova senha</h2>
        {% else %}
          <h2 class="card-title font-weight-bold text-primary">Redefinição de senha sem sucesso</h2>
        {% endif %}
        {% if validlink %}
          <p class="card-text text-dark m-0">Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
        {% endif %}
      </div>
      {% if validlink %}
        <form method="POST" class="px-4">
          {% csrf_token %}
          <div class="form-group">
            <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="Nova senha" required>
            {% include "components/field-error.html" with field=form.new_password1 %}
          </div>
          <div class="form-group">
            <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Confirmação da nova senha" required>
            {% include "components/field-error.html" with field=form.new_password2 %}
          </div>
          <div class="mt-2 px-4 text-center">
            <button type="submit" class="btn btn-block btn-primary rounded-pill mt-3">Redefinir</button>
          </div>
        </form>
      {% else %}
        <p class="card-text text-dark m-0">
          O link para a recuperação de senha é inválido, possivelmente porque já foi utilizado.
          Por favor, solicite uma nova recuperação de senha.
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
