<div style="margin:0; padding:0; background-color:#e8effd; padding: 3% 0; color: #444;">
  <div style="padding: 3%; background: #FFF; width: 40%; margin: auto; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); border-radius: 20px;">
    <div>
      <img src="http://45.132.242.190:8080/static/img/logo.png" style="max-width: 50%; margin: auto; display: block; margin-top: 2%; margin-bottom: 5%;">
    </div>

    <p>Para iniciar o processo de redefinição de senha para sua conta <i>{{ user.get_username }}</i>, <b>clique no link abaixo:</b></p>

    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank" style="color: #444;">
      {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a>

    <p>Se clicar no link acima não funcionar, copie e cole o URL em uma nova janela em vez disso.</p>

    <div style="text-align: center;">
      <h4 style="margin-bottom: 0;">Atenciosamente,</h4>
      <h4 style="margin-top: 0;">A equipe de GO Job</h4>
    </div>
  </div>    
</div>
